import time
import math
def answerer():
    answer = str(input('\nWould you like to solve another equation?(yes/no)'))
    if answer == 'yes':
        square()
    elif answer == 'no':
        print('Goodbye, see you soon.')
        time.sleep(1.5)
    else :
        answerer()

def square():
    a = float(input('\nWhat is the co-efficient of x\xb2 in your equation?'))
    b = float(input('\nWhat is the co-efficient of x in your equation?'))
    c = float(input('\nWhat is the constant in your equation?'))
    print("\nThis is your equation: ",a,"x\xb2 + " ,b,"x + " ,c, sep='')

    d = (b**2)-(4*a*c)
    e1 = (-b)+math.sqrt(d)
    e2 = (-b)-math.sqrt(d)
    f1 = e1/(2*a)
    f2 = e2/(2*a)

    print('/nYour two roots are:', f1, 'and', f2)
    answerer()

square()
